img{
   width: 25%;
   height: 25%;
    object-fit: cover; 
}
body{
    padding:15px;
    background-color:#0f172a;
    color: #e2e8f0;
    text-align:center;
 font-family:'inter'
}
    h1,h2,h3,a{
    color:#38bdf8
}